body{
       background-color: lightskyblue;
    margin: 0;
    width: 100vh;
    height: 100v;
}

.sun{
    background-color: orange;
    height: 100px;
    width: 100px;
    border-radius: 70px;
    display: flex;
    margin-top: 75px;    
}



.cloud{ 

   margin-top: 100px ;
   width:350px;
   height:120px;
   background:#ECEFF1;
   box-shadow: 10px 10px rgba(0,0,0,0.2);
   border-radius:100px;
}
.cloud::after, .cloud::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}
.cloud::after{
    width:100px;
    height:100px;
    top:-220px;
    left:50px;
}
.cloud::before{
    width:180px;
    height:180px;
    top: -70px;
    left:130px;
}


.ball{
    background-color: RED;
    margin-top: 230px;
    height: 70px;
    width: 70px;
    border-radius: 80px;
    display: flex;
    justify-content: center;;
    align-items: center;
     z-index: 10px;


}



.beach{
    width: 1000px;
    height: 300px;
    background-color: tan;
    padding: 100px;
    margin-top: 50px;

}

